.game {
    &__gamemodebox {
        position: absolute;
        top: -8rem;

        p {
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
    }
}