.game {
    &__roomcode {
        width: 800px;
        position: absolute;
        z-index: 2;
        &-info {
            position: absolute;
            top: -70px;
            right: 0px;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }
    }
}