.game {
    &__roomcode {
        width: 80rem;
        position: absolute;
        z-index: 2;

        &-info {
            position: absolute;
            top: -7rem;
            right: 0px;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }
    }
}