.game {
    &__settings {
        &-btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(500px);
            .icon {
                font-size: 60px;
                color: rgb(185, 185, 185);
                cursor: pointer;
                &:hover {
                    color: rgb(104, 104, 104);
                }
            }
        }
        &-box {
            display: none;
            position: absolute;
            z-index: 5;
            height: 600px;
            width: 800px;
            background-color: rgba(29, 29, 29, 0.815);
        }
    }
}