@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --player-coin-main-color: rgb(0, 183, 255);
    --player-coin-border-color: rgb(0, 149, 207);
}

body {
    background: rgb(29, 29, 29);
    
}

$boardColor: rgb(29, 29, 29);


.game {
    margin-top: 100px;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    
    .settings {
        &-btn {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(500px);
            .icon {
                font-size: 60px;
                color: rgb(185, 185, 185);
                cursor: pointer;
                &:hover {
                    color: rgb(104, 104, 104);
                }
            }
        }
        &-box {
            display: none;
            position: absolute;
            z-index: 5;
            height: 600px;
            width: 800px;
            background-color: rgba(29, 29, 29, 0.815);
            .restart-btn {
                position: relative;
                height: 30px;
                width: 140px;
                border-radius: 100px;
                border: none;
                background-color: $boardColor;
                color: white;
                font-family: 'Montserrat', sans-serif;
                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    height: 40px;
                    width: 150px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 100px;
                    background: linear-gradient(0, rgb(219,62,177), rgb(77, 77, 255));
                    background-size: 100% 400%;
                    background-position: 0% 0%;
                    animation: move 1500ms infinite alternate linear;
                }
                cursor: pointer;
                font-weight: bold;
            }
            &-fields {
                margin-top: 30px;
                ul {
                    li {
                        margin-top: 20px;
                        list-style: none;
                        .radio-box {
                            margin-top: 10px;
                            display: flex;
                            justify-content: space-evenly;
                        }
                    }
                }
                .settings-label {
                    color: white;
                    font-weight: 500;
                    font-family: 'Montserrat', sans-serif;
                }
                .volume-input {
                    margin: 10px 0;
                    appearance: none;
                    width: 100%;
                    height: 25px;
                    cursor: pointer;
                    overflow: hidden;
                    &::-webkit-slider-thumb {
                        appearance: none;
                        width: 20px;
                        height: 25px;
                        background: rgb(45, 45, 255);
                        box-shadow: -420px 0 0 400px rgb(0, 183, 255);
                    }
                    &::-ms-fill-lower {
                        -webkit-appearance: none;
                        appearance: none;
                        background: rgb(219,62,177);
                    }
                }
            }
        }
    }
    
    &__infobox {
        position: absolute;
        top: 650px;
        z-index: 3;
        height: 100px;
        width: 860px;

        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.9px);
        -webkit-backdrop-filter: blur(5.9px);

        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: 40px;
            font-family: 'Montserrat', sans-serif;
            color: #fff;
        }
    
    }
    .test-box {
        left: 10%;
        position: absolute;
        top: 850px;
        z-index: 4;
        height: 300px;
        width: 80%;
        //border: 2px solid grey;
        background-color: #fff;   
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        span {
            letter-spacing: 10px;
        }
    }




    &__backgroundbox {
        top: -30px;
        position: absolute;
        height: 660px;
        width: 850px;
        border-radius: 20px;
        z-index: 0;
        //background: rgb(81, 255, 0);
        // padding: 5px;
        &-box {
            height: 100%;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.603);
            border-radius: 15px;
            .box-top {
                background-color: $boardColor;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                height: 33px;
                width: 100%;
            }
            .box-bottom {
                background-color: $boardColor;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                height: 33px;
                width: 100%;
                bottom: 0px;
                position: absolute;
            }
            .box-left {
                background-color: $boardColor;
                position: absolute;
                top: 0px;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                height: 100%;
                width: 33px;
            }
            .box-right {
                background-color: $boardColor;
                height: 100%;
                width: 33px;
                position: absolute;
                top: 0px;
                right: 0px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
        &::after, &::before {
            content: "";
            width: 860px;
            height: 670px;
            position: absolute;
            z-index: -2;
            background-image: linear-gradient(0, rgb(219,62,177), rgb(77, 77, 255));
            background-size: 100% 500%;
            background-position: 0% 0%;
            top: -5px;
            left: -5px;
            border-radius: 20px;
            animation: move 1500ms infinite alternate linear;
        }
        &::after {
            filter: blur(200px);
        }
        &.win {
            &::after, &::before {
                background-image: linear-gradient(0, rgb(42, 199, 37), rgb(67, 236, 137));
            }
        }
        &.lose {
            &::after, &::before {
                background-image: linear-gradient(0, rgb(190, 30, 91), rgb(236, 30, 30));
            }
        }
    }
    
    &__waitplayerbox {
        height: 600px;
        width: 800px;
        background-color: rgba(29, 29, 29, 0.815);
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            position: absolute;
            top: 100px;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }
    }
    
    &__start {
        height: 600px;
        width: 800px;
        background-color: rgba(29, 29, 29, 0.815);
        position: relative;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .heading {
            position: absolute;
            top: 100px;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }
        .btn {
            cursor: pointer;
            width: 500px;
            position: relative;
            height: 100px;
            font-size: 28px;
            border-radius: 100px;
            border: none;
            font-family: 'Montserrat', sans-serif;
            color: $boardColor;
            &::before, &::after {
                content: "";
                position: absolute;
                z-index: -1;
                width: 510px;
                height: 110px;
                background-image: linear-gradient(0, rgb(219,62,177), rgb(77, 77, 255));
                left: 50%;
                top: 50%;
                border-radius: 100px;
                transform: translate(-50%, -50%);
                background-size: 100% 300%;
                background-position: 0% 0%;
                animation: move 1500ms infinite alternate linear;
            }
            &::after {
                filter: blur(200px);
            }
        }
        .codeInputLabel {
            margin-top: 30px;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }
        .codeInput {
            margin-top: 10px;
            padding: 10px 30px;
            font-size: 24px;
            width: 100px;
            outline: none;
            text-align: center;
            border-radius: 20px;
            border: none;
        }
        .roomInfo {
            margin-top: 10px;
            background-color: #fff;
            padding: 10px;
            border-radius: 10px;
            color: red;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }
    }
    &__gamemodebox {
        position: absolute;
        top: -80px;
        p {
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
    }

    .hidden {
        display: none;
    }

    .pseudo__grid {
        position: absolute;
        z-index: 2;
        display: flex;
        &-row {
            display: flex;
            flex-direction: column;
        }
        &__cell {
            position: relative;
            height: 100px;
            width: 100px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            &-space {
                height: 70px;
                width: 70px;
                border-radius: 100px;
                outline: 50px solid $boardColor;
            }
        }
        // .horizontal {
        //     &::before {
        //         content: "";
        //         position: absolute;
        //         height: 10px;
        //         width: 100%;
        //         background-color: #fff;
        //         background-image: linear-gradient(0, rgb(219,62,177), rgb(77, 77, 255));
        //         background-size: 100% 500%;
        //         background-position: 0% 0%;
        //         animation: move 1000ms infinite alternate linear, fadeIn 5s;
        //         animation: fadeIn 2s;    
        //     } 
        //     &-first {
        //         &::before {
        //             content: "";
        //             position: absolute;
        //             height: 10px;
        //             width: 100%;
        //             background-color: #fff;
        //             background-image: linear-gradient(0, rgb(219,62,177), rgb(77, 77, 255));
        //             background-size: 100% 500%;
        //             background-position: 0% 0%;
        //             animation: move 1000ms infinite alternate linear, fadeIn 5s;       
        //             border-top-left-radius: 50px;   
        //             border-bottom-left-radius: 50px;  
        //             animation: fadeIn 2s;    
        //         }
        //     }
        //     &-last {
        //         &::before {
        //             content: "";
        //             position: absolute;
        //             height: 10px;
        //             width: 100%;
        //             background-color: #fff;
        //             background-image: linear-gradient(0, rgb(219,62,177), rgb(77, 77, 255));
        //             background-size: 100% 500%;
        //             background-position: 0% 0%;
        //             animation: move 1000ms infinite alternate linear, fadeIn 5s;   
        //             border-top-right-radius: 50px;   
        //             border-bottom-right-radius: 50px;  
        //             animation: fadeIn 2s;     
        //         }
        //     }
        // }
    }

    .real__grid {
        position: absolute;
        z-index: 1;
        display: flex;
        &-row {
            display: flex;
            flex-direction: column;
        }

        overflow: hidden;
        .win {
            &::before {
                content: "";
                position: absolute;
                height: 100px;
                width: 100px;
                background-image: linear-gradient(0, rgb(247, 248, 184),rgb(240, 204, 0));
                background-size: 100% 500%;
                background-position: 0% 0%;
                animation: move 1000ms infinite alternate linear, fadeIn 2s;
                filter: blur(20px);
            }
        }

        &__cell {
            height: 100px;
            width: 100px;
            position: relative;
            //background-color: rgba(255, 0, 0, 0.288);
            .token {
                height: 45px;
                width: 45px;
                border-radius: 100px;
                background-color: var(--player-coin-main-color);
                position: absolute;
                left: 50%;
                top: -1000px;
                transform: translateX(-50%) translateY(-50%);
            }
            .p-taken {
                transition: all 1s;
                top: 50%;
                border: 8px solid var(--player-coin-border-color);
                &::after {
                    content: "";
                    width: 30px;
                    height: 30px;
                    background-color: var(--player-coin-border-color);
                    position: absolute;
                    border-radius: 100px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .pulse {
                animation: doPulse 1s infinite ease-in-out;
                &::after {
                    animation: doPulseMini 1s infinite ease-in-out;
                }
            }
            .c-taken {
                transition: top 1s;
                top: 50%;
                background-color: rgb(255, 0, 119);
                border: 8px solid rgb(196, 0, 91);
                &::after {
                    content: "";
                    width: 30px;
                    height: 30px;
                    background-color: rgb(196, 0, 91);
                    position: absolute;
                    border-radius: 100px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

@keyframes move {
    0% {
        background-position: top center;
    }
    100% {
        background-position: bottom center;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes doPulse {
    0% {
        width: 60px;
        height: 60px;
    }
    50% {
        width: 35px;
        height: 35px;
    }
    100% {
        width: 60px;
        height: 60px;
    }
}

@keyframes doPulseMini {
    0% {
        width: 30px;
        height: 30px;
    }
    50% {
        width: 20px;
        height: 20px;
    }
    100% {
        width: 30px;
        height: 30px;
    }
}