@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Utils
@import "./utils/variables";
@import "./utils/animations";

// Components
@import "./components/game";
@import "./components/settings";
@import "./components/show-winner";
@import "./components/backgroundbox";
@import "./components/waitplayerbox";
@import "./components/start";
@import "./components/gamemodebox";
@import "./components/pseudogrid";
@import "./components/realgrid";


* {
    margin: 0;
    padding: 0;
}

:root {
    --player-coin-main-color: rgb(0, 183, 255);
    --player-coin-border-color: rgb(0, 149, 207);
}

body {
    background: rgb(29, 29, 29);
}